@page "/redirect7"

@inject NavigationManager NavigationManager

<PageTitle>Redirect7</PageTitle>

<h1>Redirect7</h1>

@code {
    protected override async Task OnParametersSetAsync()
    {
        throw new Exception();
        await Task.Delay(100).ConfigureAwait(false);
        NavigationManager.NavigateTo("/");
    }
}
