@page "/redirect1"

@inject NavigationManager NavigationManager

<PageTitle>Redirect1</PageTitle>

<h1>Redirect1</h1>

@code {
    protected override Task OnInitializedAsync()
    {
        NavigationManager.NavigateTo("/");
        return Task.CompletedTask;
    }
}
