@page "/redirect4"

@inject NavigationManager NavigationManager

<PageTitle>Redirect4</PageTitle>

<h1>Redirect4</h1>

@code {
    protected override void OnParametersSet()
    {
        NavigationManager.NavigateTo("/");
    }
}
